.map {
  height: 75vh;
  width: 100%;
  background-image: url(https://st3.depositphotos.com/8845334/18342/v/1600/depositphotos_183429296-stock-illustration-gps-navigation-background-city-map.jpg);
  background-repeat: none;
  background-size: contain;
}