.nav-bar {
  width: 95%;
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  font-size: 2rem;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}